* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background: linear-gradient(135deg, #0f172a, #1e293b);
    color: white;
}

/* Navbar */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 60px;
    background: rgba(15, 23, 42, 0.7);
    backdrop-filter: blur(10px);
    position: sticky;
    top: 0;
}

.navbar a {
    margin-left: 25px;
    text-decoration: none;
    color: #cbd5f5;
    font-size: 15px;
}

.navbar a:hover {
    color: white;
}

.logo {
    font-size: 22px;
    font-weight: 600;
}

/* Hero */
.hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 100px 60px;
}

.hero-text h1 {
    font-size: 46px;
}

.hero-text span {
    color: #38bdf8;
}

.hero-text h2 {
    font-size: 54px;
}

.role {
    color: #94a3b8;
    margin: 15px 0;
}

.description {
    line-height: 1.8;
    color: #cbd5f5;
    margin: 20px 0 35px;
    max-width: 550px;
}

/* Button */
.btn {
    display: inline-block;
    padding: 12px 28px;
    background: #38bdf8;
    color: black;
    border-radius: 8px;
    text-decoration: none;
    font-weight: 500;
    transition: 0.3s;
}

.btn:hover {
    transform: translateY(-2px);
}

/* Image */
.hero-image img {
    width: 300px;
    height: 300px;
    border-radius: 20px;
    object-fit: cover;
    box-shadow: 0 20px 40px rgba(0,0,0,0.4);
}

/* Sections */
.section {
    padding: 80px 60px;
    text-align: center;
}

.section h2 {
    font-size: 36px;
    margin-bottom: 25px;
}

.center-text {
    max-width: 900px;
    margin: auto;
    line-height: 1.8;
    color: #cbd5f5;
}

/* Skills */
.skills-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 12px;
    margin-top: 20px;
}

.skill {
    background: rgba(255,255,255,0.08);
    padding: 10px 18px;
    border-radius: 20px;
    font-size: 14px;
}

/* Cards */
.card {
    background: rgba(255,255,255,0.05);
    max-width: 850px;
    margin: 25px auto;
    padding: 30px;
    border-radius: 16px;
    text-align: left;
    border: 1px solid rgba(255,255,255,0.08);
}

.card h3 {
    margin-bottom: 10px;
    color: #38bdf8;
}

.card p {
    color: #cbd5f5;
    line-height: 1.6;
}

/* Links */
.github-link {
    display: inline-block;
    margin-top: 12px;
    color: #38bdf8;
    text-decoration: none;
}

.github-link:hover {
    text-decoration: underline;
}

/* Contact */
#contact p {
    margin: 10px 0;
}

#contact a {
    color: #38bdf8;
    text-decoration: none;
}

/* Footer */
footer {
    padding: 30px;
    text-align: center;
    color: #94a3b8;
    font-size: 14px;
}
